<% provide(:title, @user.name) %>
<div class="card card bg-light mb-3">
  <div class="card-header">
    <h1 class="d-inline"><%= @user.name %></h1>
    <% if current_user?(@user) %>
      <%= link_to 'Create event', new_event_path, class: 'btn btn-primary float-right btn-lg' %>
    <% end %>
  </div>
  <div class="card-body">
    <span class="font-weight-bold">Username</span>
    <p class="card-text"><%= @user.username %></p>
    <span class="font-weight-bold">Email</span>
    <p class="card-text"><%= @user.email %></p>
  </div>
</div>

<h2 class="text-center"><%= @user.name %>'s owned events: <%= @user.events.count %></h2> 
<% if @user.events.any? %>
  <ol class="events row">
    <%= render @events %>
  </ol>
  <%= will_paginate @events, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% end %>