<% provide(:title, 'Event') %>
<div class="card card bg-light mb-3">
  <div class="card-header">
    <h1 class="d-inline"><%= @event.title %></h1>
    <% if (@event.upcoming? && logged_in?) %>
      <%= link_to 'Invite user', "/events/#{@event.id}/invite", class: 'btn btn-primary float-right btn-lg' %>
    <% end %>
  </div>
  <div class="card-body">
    <span class="font-weight-bold">Creator</span>
    <p class="card-text"><%= @event.creator.name %></p>
    <span class="font-weight-bold">Description</span>
    <p class="card-text"><%= @event.description %></p>
    <span class="font-weight-bold">Location</span>
    <p class="card-text"><%= @event.location %></p>
    <span class="font-weight-bold">Start Date</span>
    <p class="card-text"><%= @event.start_date.to_s(:rfc822) %></p>
    <span class="font-weight-bold">End Date</span>
    <p class="card-text"><%= @event.end_date.to_s(:rfc822) %></p>
  </div>
</div>

<h2 class="text-center"><%= pluralize(@attendees.count, 'Attendee') %></h2> 
<% if @attendees.any? %>
  <ol class="attendees row">
    <%= render partial: 'users/user', collection: @attendees %>
  </ol>
  <%= will_paginate @attendees, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% end %>
