<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to 'Private Events', '#', class: 'navbar-brand' %>
  <ul class="navbar-links ml-auto">
    <li class="nav-item"><%= link_to 'Events', root_url, class: 'nav-link' %></li>
    <% if logged_in? %>
      <li class="nav-item"><%= link_to 'Profile', user_path(current_user), class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Log out', logout_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li class="nav-item"><%= link_to 'Sign up', signup_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Log in',  login_path,  class: 'nav-link' %></li>
    <% end %>
  </ul>
</nav>